body {
  padding: 10px;
  margin: 0;
  font-size: 14px;
  background:#fff;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
textarea{
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
a{
  color: #66b1ff;
  font-size: 13px;
}
